<h1>About Blocipedia</h1>

<p>Created by <a href="http://carolinecourtney.com">
Caroline Courtney</a>, &copy; 2016</p>

<h3>Use Case</h3>

<p>
  <a href="https://en.wikipedia.org/wiki/Wiki">Wikis</a>
  are a great way to collaborate on community-
  sourced content. Whether the wiki is for a hobby
  or work-related project, you will build an app that
  lets users create their own wikis and share them
  publicly or privately with other collaborators.
</p>
