<h1>Edit a Wiki</h1>

<%= render partial: 'form', locals: { wiki: @wiki } %>

<% if current_user.admin? || (!(current_user.standard?) && @wiki.user == current_user && !@wiki.public?) %>
  <hr/>
  <div class="collaborators">
    <h3>Add/Remove Collaborators:</h3>
    <p>
      <% @users.each do |user| %>
        <%= render partial: 'collaborators/collaborator',
          locals: { user: user, wiki: @wiki } %>
      <% end %>
    </p>
  </div>
<% end %>
