<h1>Premium Usership Ahoy!</h1>
<p>Welcome to Premium, <strong><%= current_user.email %></strong>!
  You should see that nifty gold
  <span class='glyphicon glyphicon-star' style="color: #fc0;"></span> star
  by your logged in status in the upper right! Taste the brilliance of a
  new era for your Blocipedia usage!
</p>
