<h1>Premium Account Upgrade</h1>

<p>Going Premium a monthly subscription of $9.99 US.</p>

<%= form_tag charges_path do %>
  <article>
    <% if flash[:error].present? %>
      <div id="error_explanation">
        <h4><%= flash[:error] %></h4>
      </div>
    <% end %>
    <label class="amount">
      <span>Get started: $9.99</span>
    </label>
  </article>

  <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
          data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
          data-description="Blocipedia Premium Subscription"
          data-amount="999"
          data-locale="auto"></script>
<% end %>
